/* General Style for the whole document! */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    background-position: center;
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 2rem;
    padding: 5rem 0rem;
    color: #311704;
}

h1 {
    font-size: 2.5rem;
    padding: 2rem 0rem;
}

/* Styling the image for rules.html */
#rules-image {
    border: 10px;
    margin: 10px;
    padding: 10px;
}

#rules-image img {
    width: 80%;
    height: 80%;
    margin: 10px;
    padding: 10px;
}

/* Styling the text for rules.html */
#rules-text {
    border: 10px;
    margin: 10px;
    padding: 10px;
}

/* Styling header  */

header {
    border: 4px solid black;
    margin: 4px;
    padding: 4px;
    background-color: #e4d7ce;
    color: #311704;
}

header nav {
    float: left;
    border: 2px;
    margin: 2px;
    padding: 2px;
}

/* Styling footer  */

footer {
    border: 4px solid black;
    margin: 4px;
    padding: 4px;
    background-color: #e4d7ce;
    color: #311704;
    bottom: 0px;
}

/* Styling the match area  */

section {
    height: 100vh;
    background-color: ;
    font-family: sans-serif;
}

img {
    height: 80px;
    width: auto;
}

.score {
    color: ;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
